<div class="container mt-3">
  <h3>Todos List</h3>

  <div *ngIf="loading()" class="text-center my-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <form action="" class="my-3">
    <label for="" class="form-label">filter toDos</label>
    <input class="form-control" type="text" name="Searchterm" placeholder="Search toDos">
  </form>

    <!-- @for (todo of todoItems(); track $index){
    <div class="form-check">
      <app-todo-item 
      [todo]="todo"
      (todoToggle)="todo.completed = !todo.completed"></app-todo-item>
    </div>
  } -->

  <!-- @for (todo of todoItems() | filterTodos:searchTerm;  track $index){
    <div class="form-check">
      <app-todo-item 
      [todo]="todo"
      (todoToggle)="updateToDoItems($event)"></app-todo-item>
    </div>
  } -->
    <div *ngFor="let todo of todoItems() | filterTodos: searchTerm; let i = index" class="form-check">
    <app-todo-item
      [todo]="todo"
      (todoToggle)="updateToDoItems($event)">
    </app-todo-item>
  </div>
</div>

