body{
  background: #3F5EFB;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
h1{
  text-align: center;
  color: cornflowerblue;
}
p{
  color: cornflowerblue;
}
