<div class="container mt-5" style="max-width: 400px;">
  <h3 class="text-center mb-4">Login</h3>
  <h3>{{homeMessage()}}</h3>

  <div class="card shadow-sm">
    <div class="card-body">
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            [(ngModel)]="email"
            name="email"
            required
            (keyup)="keyUpHandler($event)"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
</div>
